In [ ]:
d={}

In [40]:
d

{}

In [3]:
type(d)

dict

In [4]:
d1 = {'Key':'sub'}

In [5]:
d1

{'Key': 'sub'}

In [6]:
d2 = {'name':"Subrat",'email':'jenasubrat.skj@gmail.com','number':'24501273','org':'TCS'}

In [7]:
d2

{'name': 'Subrat',
 'email': 'jenasubrat.skj@gmail.com',
 'number': '24501273',
 'org': 'TCS'}

In [8]:
type(d2)

dict

In [9]:
d3 = {234:'subrat'} # we can consider numberic or character value in Key value but can't take speacial character can use 
#bollean values as key name

In [10]:
d3

{234: 'subrat'}

In [11]:
d3 = {234: 'subrat',True:123456,'_wasd':'jena'}

In [12]:
d3[234]

'subrat'

In [13]:
d3[True]

123456

In [14]:
d3[1]

123456

In [15]:
d4 ={'name':'subrat','mailid':'ss@gmail.com','name':'subratkumarjena'}  # dictionary will 
#overwrite with the new values and it is the property of key , it will pick the latest value always

In [16]:
d4

{'name': 'subratkumarjena', 'mailid': 'ss@gmail.com'}

In [17]:
d4['name']

'subratkumarjena'

In [18]:
#key should be always unique if duplicate key then the latest will be picked up

In [19]:
d5 = {"company":"pwskills","course":["web dev","Data Science","java with dsa system design"]}

In [20]:
d5

{'company': 'pwskills',
 'course': ['web dev', 'Data Science', 'java with dsa system design']}

In [21]:
d5['course']

['web dev', 'Data Science', 'java with dsa system design']

In [22]:
d5['course'][2]

'java with dsa system design'

In [23]:
d6 = {"number" : [2,3,45,5,46,67,82,9],"assignment" : (1,2,3,4,5,6,7),"launch_date":{28,12,14},"classtime":{"web_dev":8,"DataScience Master":8,"java with dsa and systemdesign":7}}

In [24]:
d6

{'number': [2, 3, 45, 5, 46, 67, 82, 9],
 'assignment': (1, 2, 3, 4, 5, 6, 7),
 'launch_date': {12, 14, 28},
 'classtime': {'web_dev': 8,
  'DataScience Master': 8,
  'java with dsa and systemdesign': 7}}

In [25]:
d6['classtime']

{'web_dev': 8, 'DataScience Master': 8, 'java with dsa and systemdesign': 7}

In [26]:
d6['classtime']['java with dsa and systemdesign']

7

In [27]:
d6['mentor']=["sudhanshu","krish","anurag","Hyder"]

In [28]:
d6

{'number': [2, 3, 45, 5, 46, 67, 82, 9],
 'assignment': (1, 2, 3, 4, 5, 6, 7),
 'launch_date': {12, 14, 28},
 'classtime': {'web_dev': 8,
  'DataScience Master': 8,
  'java with dsa and systemdesign': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'Hyder']}

In [29]:
#if the same key is already available then it will update the values or else it will add the new key value

In [30]:
del d6['number']  # to delete a key from a dictionary

In [31]:
d6

{'assignment': (1, 2, 3, 4, 5, 6, 7),
 'launch_date': {12, 14, 28},
 'classtime': {'web_dev': 8,
  'DataScience Master': 8,
  'java with dsa and systemdesign': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'Hyder']}

In [32]:
d6.keys()   # to get list of all keys in a dictionary

dict_keys(['assignment', 'launch_date', 'classtime', 'mentor'])

In [33]:
d6.values() # to get list of all values from a dictionary

dict_values([(1, 2, 3, 4, 5, 6, 7), {28, 12, 14}, {'web_dev': 8, 'DataScience Master': 8, 'java with dsa and systemdesign': 7}, ['sudhanshu', 'krish', 'anurag', 'Hyder']])

In [34]:
list(d6.values()) # to convert to list similary you can convert to any type set tuples etc

[(1, 2, 3, 4, 5, 6, 7),
 {12, 14, 28},
 {'web_dev': 8, 'DataScience Master': 8, 'java with dsa and systemdesign': 7},
 ['sudhanshu', 'krish', 'anurag', 'Hyder']]

In [35]:
d6.items()

dict_items([('assignment', (1, 2, 3, 4, 5, 6, 7)), ('launch_date', {28, 12, 14}), ('classtime', {'web_dev': 8, 'DataScience Master': 8, 'java with dsa and systemdesign': 7}), ('mentor', ['sudhanshu', 'krish', 'anurag', 'Hyder'])])

In [36]:
list(d6.items())

[('assignment', (1, 2, 3, 4, 5, 6, 7)),
 ('launch_date', {12, 14, 28}),
 ('classtime',
  {'web_dev': 8,
   'DataScience Master': 8,
   'java with dsa and systemdesign': 7}),
 ('mentor', ['sudhanshu', 'krish', 'anurag', 'Hyder'])]

In [37]:
d6.pop('assignment')    #pop an del to delete

(1, 2, 3, 4, 5, 6, 7)

In [38]:
d6

{'launch_date': {12, 14, 28},
 'classtime': {'web_dev': 8,
  'DataScience Master': 8,
  'java with dsa and systemdesign': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'Hyder']}

In [39]:
d6.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
#Control flow or control flow statement

In [46]:
marks = 65
if marks >= 80:
    print("You will be Part of A0 Batch")
elif marks >= 60 and marks<80:
    print("You will be Part of A1 Batch")
elif marks >=40 and marks <60:
    print("You will be Part of A2 Batch")
else :
    print("You will be Part of A3 Batch")

You will be Part of A1 Batch

In [2]:
marks = 10
if marks >= 80:
    print("You will be Part of A0 Batch")
elif marks >= 60 and marks<80:
    print("You will be Part of A1 Batch")
elif marks >=40 and marks <60:
    print("You will be Part of A2 Batch")
else :
    print("You will be Part of A3 Batch")

You will be Part of A3 Batch

In [4]:
marks = input("Enter Your Marks")  # problem is it connverts to string function what ever uyou enter
if marks >= 80:
    print("You will be Part of A0 Batch")
elif marks >= 60 and marks<80:
    print("You will be Part of A1 Batch")
elif marks >=40 and marks <60:
    print("You will be Part of A2 Batch")
else :
    print("You will be Part of A3 Batch")

Enter Your Marks '35'

TypeError: '>=' not supported between instances of 'str' and 'int'

In [5]:
marks
)

"'35'"

In [8]:
marks = input("Enter Your Marks")

Enter Your Marks 45

In [9]:
marks

'45'

In [10]:
type(marks)

str

In [11]:
marks = int(input("Enter Your Marks"))

Enter Your Marks 45

In [12]:
type(marks)

int

In [13]:
marks = int(input("Enter Your Marks") )
if marks >= 80:
    print("You will be Part of A0 Batch")
elif marks >= 60 and marks<80:
    print("You will be Part of A1 Batch")
elif marks >=40 and marks <60:
    print("You will be Part of A2 Batch")
else :
    print("You will be Part of A3 Batch")

Enter Your Marks 45

You will be Part of A2 Batch

In [14]:
price = int(input("Enter Price"))
if price >1000:
    print("I will not Purchase")
else :
    print("I will Purchase")

Enter Price 500

I will Purchase

In [16]:
price = int(input("Enter Price"))
if price >1000:
    print("I will not Purchase")

Enter Price 500

In [17]:
price = int(input("Enter Price"))
if price >1000:
    print("I will not Purchase")

Enter Price 7000

I will not Purchase

In [18]:
price = int(input("Enter Price"))
if price >1000:
    print("I will not Purchase")
    if price > 5000:
        print("This is too Much")

Enter Price 7000

I will not Purchase
This is too Much

In [19]:
price = int(input("Enter Price"))
if price >1000:
    print("I will not Purchase")
    if price > 5000:
        print("This is too Much")
    elif price < 2000:
        print("It's OK")
elif price < 1000:
    print("I will Purchase")
else :
    print("I am Not Interested")

Enter Price 720

I will Purchase

In [2]:
l = [1,2,3,4,5,6,7,77,8]

In [23]:
for i in l:
    print(i)

1
2
3
4
5
6
7
77
8

In [24]:
l1[]
for i in l:
    print(l)

[1, 2, 3, 4, 5, 6, 7, 77, 8]
[1, 2, 3, 4, 5, 6, 7, 77, 8]
[1, 2, 3, 4, 5, 6, 7, 77, 8]
[1, 2, 3, 4, 5, 6, 7, 77, 8]
[1, 2, 3, 4, 5, 6, 7, 77, 8]
[1, 2, 3, 4, 5, 6, 7, 77, 8]
[1, 2, 3, 4, 5, 6, 7, 77, 8]
[1, 2, 3, 4, 5, 6, 7, 77, 8]
[1, 2, 3, 4, 5, 6, 7, 77, 8]

In [26]:
l1[]
for i in l:
    print(i+1)
    l1.append(i+1)

SyntaxError: invalid syntax (2365970130.py, line 1)

In [3]:
for i in l:
    print(i+1)  # add 1 to each value in list

2
3
4
5
6
7
8
78
9

In [6]:
l1=[]
for i in l:
    print(i+1)  # add
    l1.append(i+1)
    
l1

2
3
4
5
6
7
8
78
9

[2, 3, 4, 5, 6, 7, 8, 78, 9]

In [7]:
l= ["sudh","kumar","pwskills","course"]   # convert all into upper case

In [8]:
upper(l)

NameError: name 'upper' is not defined

In [9]:

for i in l :
    print(i)

sudh
kumar
pwskills
course

In [11]:
l1 = []
for i in l :
    print(i)
    l1.append(i.upper())
l1

sudh
kumar
pwskills
course

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [15]:
l = [1,2,3,4,4,"sudh","kumar",324,34.876,"abc"]

In [21]:
l1_num = []
l2_str = []
for i in l:
    if type(i) == int or type(i) == float:
        l1_num.append(i)
    else :
        l2_str.append(i.upper())

In [17]:
l1_num

[1, 2, 3, 4, 4, 324, 34.876]

In [22]:
l2_str

['SUDH', 'KUMAR', 'ABC']